#playlist {
    .playlist-header {
        overflow: hidden;
        h1 {
            font-weight: 300;
            color: white;
            margin: 0;
            margin-right: 5px;
            .muted {
                color: rgba(white, 0.25);
            }
        }
        p {
            color: rgba(white, 0.5);
            font-size: 16px;
            border-top: 1px solid rgba(white, 0.1);
            padding-top: 10px;
            margin-top: 10px;
        }
        button {
            margin-left: 10px;
            i {
                font-size: 16px;
            }
            padding: 5px 8px 2px 8px;
        }
    }
    
    .playlist-art {
        overflow: hidden;
        width: 225px;
        img {
            width: 100px;
            float: left;
        }
        ul {
            margin-left: -35px;
        }
        li {
            list-style: none;
        }
    }
}