html {
	background: url(../images/bg.jpg) no-repeat center center fixed;
	background-size: cover;
}

body.wizard {
	padding-left: 0;
	font-size: 16px;
	overflow-y: visible;
	background-color: transparent;
	
	.main {
		z-index: 0;
		background: transparent;
		.main-cover {
			height: 100vh;
		}
	}

	#particles-js {
		position: fixed;
		width: 100%;
		height: 100%;
		background-color: transparent;
		background-image: url("");
		background-repeat: no-repeat;
		background-size: cover;
		background-position: 50% 50%;
		z-index: -1;
	}
	
	.logo {
	}

	
	.box {
		margin-top: 25px;
		background: rgba(black, 0.75);
		background-size: cover;
		-webkit-box-shadow: 0px 0px 40px 5px rgba(0,0,0,0.25);
		-moz-box-shadow: 0px 0px 40px 5px rgba(0,0,0,0.25);
		box-shadow: 0px 0px 40px 5px rgba(0,0,0,0.25);
		z-index: 5;
		padding: 50px 50px 1px 50px;
		margin: 25px;
		box-sizing: border-box;
		
		h1, h2, h3 {
			font-weight: 300;
			color: white;
		}
		
		label.error {
			color: $red;
			font-size: 14px;
		}
		
		.form-control {
			margin-top: 15px;
		}
		
		.nav.wizard {
			border-bottom: 1px solid rgba(white, 0.1);
			padding-bottom: 15px;
			li {
				margin-right: 15px;
				a {
					padding: 5px 15px;
					height: 34px;
					border: 2px solid rgba(white, 0.1);
					background: none;
					color: rgba(white, 0.5);
					transition: 0.1s all;

					&:hover,
					&:focus {
						color: white;  
						background-color: rgba(white, 0.1);
						border: 2px solid rgba(white, 0.25);
						transition: 0.1s all;
					}
				}
				&.active a {
					border: 2px solid rgba($purple, 1);
					color: rgba(white, 1);
					background-color: rgba($purple, 0.5);
					transition: 0.1s all;
				}
				&.completed a {
					border: 2px solid rgba($green, 1);
					color: rgba(white, 1);
					background-color: rgba($green, 0.5);
					transition: 0.1s all;
				}
			}
		}
		
		.btn-form {
			margin-top: 15px;
		}
		
		.tab-content {
			margin-top: 50px;
		}
		
		.aurousaccount .col-sm-6:first-child {
			border-right: 1px solid rgba(white, 0.1);
			padding-right: 75px;
		}
		
		.aurousaccount .col-sm-6:last-child {
			padding-left: 75px;
		}
		
		.aurousaccount .text-center {
			margin-bottom: 50px;
		}
		
		.form-control {
			border: 1px solid rgba(white, 0.25);
			background-color: transparent;
			color: rgba(white, 0.5);
			transition: 0.1s all;
			box-shadow: none;

			&:focus {
				border: 1px solid rgba($purple, 1);
				color: rgba(white, 1);
				background-color: rgba(white, 0.05);
				transition: 0.1s all;
				box-shadow: none;
			} 
		}
		
		.tab-vk {
			p {
				margin-bottom: 25px;
			}

			.btn-vk {
				border: 2px solid rgba(#597da3, 1);
				background: rgba(#597da3, 1);
				color: rgba(white, 1);
				transition: 0.1s all;

				&:hover,
				&:focus {
					color: white;  
					background-color: darken(#597da3, 10%);
					border: 2px solid darken(#597da3, 10%);
					transition: 0.1s all;
				}
				margin-right: 10px;
			}
			
			.btn {
				min-width: 100px;
			}
		}
		
		.tab-scan {
			p {
				margin-bottom: 25px;
			}
			.btn {
				margin-right: 10px;
			}
		}
        .scan-overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 10;
            background-color: rgba(0,0,0,0.75);
            text-align: center;
            p {
                font-size: 24px;
                font-weight: 300;
                color: white;
                z-index: 20;
                margin-top: 400px;
            }
        }
			
		.pager { 
			margin-top: 50px;
			border-top: 1px solid rgba(white, 0.1);
			padding-top: 15px;
			li {
                &.next a {
                    margin-left: 10px;
                }
                &.right a {
                    float: right;
                }
				&.disabled a {
					border: 2px solid rgba(white, 0.1);
					background: none;
					color: rgba(white, 0.5);
					&:hover {
						border: 2px solid rgba(white, 0.1);
						background: none;
						color: rgba(white, 0.5);
					}
				}
				a {
					border: 2px solid rgba(white, 0.25);
					background: rgba(white, 0.1);
					color: rgba(white, 0.5);
					border-radius: 6px;
					transition: 0.1s all;
                    padding: 5px 20px;
                    font-size: 14px;

					&:hover {
						border: 2px solid rgba($purple, 1);
						color: rgba(white, 1);
						background-color: rgba($purple, 0.5);
						transition: 0.1s all;
					}
                }
                &.primary a {
                    border: 2px solid rgba($purple, 0.5);
                    color: rgba(white, 0.9);
                    background-color: rgba($purple, 0.25);
                    transition: 0.1s all;
                    margin-left: 10px;

                    &:hover,
                    &:focus {
                        border: 2px solid rgba($purple, 1);
                        color: rgba(white, 1);
                        background-color: rgba($purple, 0.5);
                        transition: 0.1s all;
                    }    
                }
			}
		}
	}
}