/* Color brand */

$main: #0C0C12;
$sidebar: #0C0C12;
$titlebar: #0C0C12;

$modalHeader: #101012;
$modalBody: #1b1b21;

$cyan: #40fec5;
$purple: #8b60e8;
$orange: #f8a521;
$red: #ec3930;
$green: #1ed96e;
$blue: #5bc0de;
$yellow: #f5d968;