@import "modules/_variables";
@import "partials/_titlebar";
@import "partials/_sidebar";
@import "partials/_player";
@import "partials/_table";
@import "partials/_dropdown";
@import "partials/_scrollbar";
@import "partials/_loading";
@import "partials/_display";
@import "partials/_modal";
@import "partials/_buttons";
@import "partials/_alerts";
@import "partials/_collection";
@import "partials/_cd-slide";
@import "partials/_playlist";

@import "partials/_wizard";

/* Global */
* {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none; 
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

* {
    outline: none !important;
}

body {
    background-color: $main;
    font-family: "Fira Sans", "Arial", "sans-serif";
    font-weight: 300;
    font-size: 14px;
    padding-left: 250px;
    overflow: hidden;
}

.container-full {
    padding-right: 0;
    padding-left: 0;
}

.main {
    width: 100%;
    background-color: $main;
    color: rgba(white, 0.75);
    position: relative;
    
    background: rgba(12,12,18,1);
    background: -moz-linear-gradient(top, rgba(12,12,18,1) 0%, rgba(24,26,43,1) 38%, rgba(12,12,18,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(12,12,18,1)), color-stop(38%, rgba(24,26,43,1)), color-stop(100%, rgba(12,12,18,1)));
    background: -webkit-linear-gradient(top, rgba(12,12,18,1) 0%, rgba(24,26,43,1) 38%, rgba(12,12,18,1) 100%);
    background: -o-linear-gradient(top, rgba(12,12,18,1) 0%, rgba(24,26,43,1) 38%, rgba(12,12,18,1) 100%);
    background: -ms-linear-gradient(top, rgba(12,12,18,1) 0%, rgba(24,26,43,1) 38%, rgba(12,12,18,1) 100%);
    background: linear-gradient(to bottom, rgba(12,12,18,1) 0%, rgba(24,26,43,1) 38%, rgba(12,12,18,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0c0c12', endColorstr='#0c0c12', GradientType=0 );
    
    .col-xs-12 {
        padding-left: 0;
        padding-right: 0;
    }
}

.viewport {
    margin-top: 30px;
    overflow: auto;
    padding: 15px;
    margin-bottom: 55px;
}

li.muted a {
    color: rgba(white, 0.25);
}

/* Buttons */

#search-form {
    position: fixed;
    z-index: 100;
    top: 50px;
    margin-right: 15px;
    border-radius: 6px;

    .form-control {
        background-color: lighten($main, 10%);
        border: 1px solid rgba(white, 0);
        font-weight: 400;
        box-shadow: none;
        color: white;
        height: 40px;
        transition: all 0.1s;

        &:focus {
            background-color: lighten($main, 15%);
            border-color: rgba(139, 96, 232, 0);
            outline: 0;
            box-shadow: none;
            transition: all 0.1s;
        }
    }

    .btn-primary {
        background-color: lighten($main, 10%);
        border-color: rgba(139, 96, 232, 0);
        transition: all 0.1s;
        height: 40px;
        padding: 10px 15px;
        color: rgba(white, 0.5);

        &:hover,
        &:focus {
            color: #fff;
            background-color: rgba(139, 96, 232, 1);
            transition: all 0.1s;
        }
    }
}

.input-group {
    border-radius: 6px;
}

#discover {
    padding-top: 55px;
}

/* Discover Info */

#discoverIntro h2 {
    font-weight: 300;
    margin-top: 40px;
}
