#alertError {
    display: none;
}

#search-result {
    display: none;
}

#discover {
}

#collection {
	display: none;
}

#loading {
    display: none;
}

#discoverIntro {
       
}

#playlist {
    display: none;
}

/* Collection */

#collectionArtists,
#collectionAlbums {
	display: none;
}