body.modal-open .sidebar,
body.modal-open .viewport {
    -webkit-filter: blur(1px);
    -moz-filter: blur(1px);
    -o-filter: blur(1px);
    -ms-filter: blur(1px);
    filter: blur(1px);
}

#modalSettings {
    .modal-dialog,
    .modal-content {
        height: 90%;
    }
    .modal-body {
        /* 100% = dialog height, 108px = header + footer */
        max-height: calc(100% - 108px);
        overflow-y: scroll;
        padding: 15px;
    }

}

.modal {

    .modal-header {
        background-color: $modalHeader;
        border: 1px solid rgba(white, 0);
        color: rgba(white, 0.75);
        padding: 5px 5px;
        
        h4 { 
            font-weight: 300;
            margin-left: 5px;
            font-size: 16px;
        }

        .close {
            padding: 3px 0;
        }

        i {
            color: rgba(white, 0.75);
            text-shadow: none;
        }
    }
    

    .modal-content {
        background-color: $modalBody;
        border: 1px solid rgba(white, 0.1);
        color: rgba(white, 0.5);
    }
    
    .modal-body {
        .form-control {
            border: 2px solid rgba(white, 0.1);
            background-color: transparent;
            color: rgba(white, 0.5);
            transition: 0.1s all;
            box-shadow: none;

            &:focus {
                border: 2px solid rgba($purple, 1);
                color: rgba(white, 1);
                background-color: rgba(white, 0.05);
                transition: 0.1s all;
                box-shadow: none;
            } 
        }
    }

    .modal-footer {
        padding: 5px 5px;
        border-top: 1px solid rgba(white, 0.05);
        .btn {
            width: 49%;
        }
        .btn-primary {
            background-color: rgba($purple, 0.5);
            &:hover,
            &:focus {
                background-color: rgba($purple, 1);
            }
        }
    }
}

.modal#modalSettings {
    
    .modal-link {
        color: white;
        border-bottom: 2px solid rgba(white, 0.25);
        text-decoration: none;
        &:hover,
        &:focus {
            border-bottom: 2px solid rgba(white, 1);
        }
    }
	
	h5 {
		font-size: 16px;
	}
    
    hr {
        display: block;
        height: 1px;
        border: 0;
        border-top: 1px solid rgba(white, 0.1);
        margin: 25px 0;
        padding: 0; 
    }

    .dropdown-menu {
        background-color: rgba(black, 0.75);
        li > a {
            padding: 5px 15px 5px;
            &:hover {
                background-color: rgba(white, 0.1);
            }
        }
    }
    
    .form-control {
        border: 2px solid rgba(white, 0.1);
        background-color: transparent;
        color: rgba(white, 0.5);
        transition: 0.1s all;
        box-shadow: none;

        &:focus {
            border: 2px solid rgba($purple, 1);
            color: rgba(white, 1);
            background-color: rgba(white, 0.05);
            transition: 0.1s all;
            box-shadow: none;
        } 
    }
    
    label {
        font-weight: 500;
    }
        
    .modal-header {
        padding: 0px;
        border-bottom: none;
        background-color: $modalHeader;

        .close {
            padding: 10px 10px 0 0;
        }

        i {
            color: rgba(white, 0.75);
            text-shadow: none;
        }

        .nav-tabs {
            border-bottom: 1px solid rgba(white, 0.05);
            border: none;
			margin-bottom: 0;

            > li.active {

                border-top: 2px solid $purple;
                > a {
                    background-color: $modalBody;
                    border-radius: 0;
                    color: $purple;
                    font-weight: 500;
                }
            }

            > li > a {
                border-top: 2px solid rgba(white, 0);
                color: rgba(white, 0.5);
                border: none;
                transition: 0.1s all;
                &:hover,
                &:focus {
                    background-color: $modalBody;
                    border: none;
                    transition: 0.1s all;
                }
            }

        }
    }

    .modal-content {
        
        background-color: $modalBody;
        border: 1px solid rgba(white, 0.1);
        border-radius: 3px;
        color: rgba(white, 0.5);
        
        .row.settings-profile {
            margin-top: 15px;
        }
        
        .profile-picture {
            height: 96px;
        }
        
        .btn-choose {
            margin-top: 15px;
        }
        
        .change-display {
            border-right: 1px solid rgba(white, 0.1);
        }
        
        .alert-emailpass {
            margin-top: 26px;
            margin-bottom: 0;
            font-size: 12px;
        }
        
        .setting-subheader {
            h5 {
                font-weight: 500;
                margin-top: 0;
				margin-bottom: 0;
            }
        }

		small {
			color: rgba(white, 0.25);
			font-size: 12px;
			margin-top: 3px;
		}
		
        .setting-default-search {
            .btn {
                min-width: 90px;
                text-align: left;
            }
            .open>.dropdown-toggle.btn-default {
                border: 2px solid rgba(white, 0.25);
                color: rgba(white, 1);
                background-color: rgba(white, 0.1);
            }
        }
        
        .setting-auth {
            background-color: $modalHeader;
            border: 1px solid rgba(white, 0.1);
            overflow: hidden;
            padding: 3px 8px;
            border-radius: 3px;
            margin-top: 15px;
            
            .auth-row:first-child {
                border-top: transparent;
            }

            .auth-row {
                border-top: 1px solid rgba(white, 0.1);
                overflow: hidden;
                padding: 5px 0;
                p {
                    margin-top: 6px;
                    margin-bottom: 0;
                }
                .btn {
                    min-width: 90px;
                }
            }
            .authorized {
                color: $green;
                font-weight: 500;
            }
            i {
                font-size: 24px;
                margin-top: 3px;
                margin-right: 5px;
                &.success {
                    color: $green;
                }
                &.danger {
                    color: rgba(white, 0.5);
                }
            }
        }
    }
	

	.settings-filetypes {
		label {
			margin-top: 15px;
		}
	}
    
    .modal-footer {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 100%;
        border-top: 1px solid rgba(white, 0.05);
        .btn-primary {
            background-color: rgba($purple, 0.5);
            &:hover,
            &:focus {
                background-color: rgba($purple, 1);
            }
        }
    }
}

.settings-paths {
	margin-top: 15px;
	.col-xs-1 {
		padding-right: 0;
		padding-left: 0;
	}
	.btn-success {
		margin-top: 50px;
	}
	.btn-danger {
		margin-top: 5px;
	}
	option {
		padding: 5px 5px;
	}
	.form-control {
		padding: 5px;
	}
	.btn-sm {
		padding: 6px 10px 4px;
	}
}